#main-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
}

#first-div{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#footer-1{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
}

#main-link-div{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#about-header{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

#about-footer{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#first-about-paragraph{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#shops-header{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

#about-links-div{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#second-about-div{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#shops-intro{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#shops-links-div{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#shops-footer{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#shops-1-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    
}

#shops-1-address{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

#shops-2-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    
}

#shops-2-address{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

#shops-3-header{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    
}

#shops-3-address{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

#shops-4-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    
}

#shops-4-address{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

#homemade-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    
}

#shops-1-image{
    border: 3px solid rgb(199, 181, 181);
}

#shops-2-image{
    border: 3px solid rgb(199, 181, 181);
}

#shops-3-image{
    border: 3px solid rgb(199, 181, 181);
}

#shops-4-image{
    border: 3px solid rgb(199, 181, 181);
}

#homemade-links-div{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#homemade-paragraph-1{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#homemade-footer{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#newsletter-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
}

#newsletter-link-div{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#newsletter-div-1{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: x-large;
}

#newsletter-footer{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

#newsletter-div-2{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
    font-size: large;
}

body{
    background: rgb(134, 56, 56)
}

