#main-header{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
}

#first-div{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
}

#footer-1{
    color:rgb(199, 181, 181);
    font-family: sans-serif;
}

#main-link-div{
    color: rgb(199, 181, 181);
    font-family: sans-serif;
}

body{
    background: rgb(134, 56, 56)
}