#main-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#contact-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#team-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#team-header-2 {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#pizza-stories-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#pizza-art-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#newsletter-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#pizza-art-div-1 {
  font-weight: 600;
}

#newsletter-form-div {
  font-weight: 400;
}

#newsletter-paragraph-1 {
  font-weight: 600;
}

#about-aside-div {
  font-weight: 300;
}

#homemade-list-1 {
  font-weight: 600;
}

#first-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 600;
}

#footer-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
}

#main-link-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#about-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
}

#about-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#first-about-paragraph {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 600;
}

#shops-form-div {
  font-weight: 600;
}

#shops-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#homemade-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#users-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

#about-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#second-about-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#shops-intro {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 600;
}

#shops-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#homemade-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#homemade-paragraph-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 600;
}

#homemade-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#newsletter-link-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#newsletter-div-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#newsletter-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#newsletter-div-2 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#pizza-art-link-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#pizza-art-div-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#pizza-art-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#pizza-stories-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#pizza-stories-div-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#stories-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#story-1-header {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
}

#pizza-story-text-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#stories-aside {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#pizza-story-1-image {
  border: 4px solid rgb(199, 181, 181);
}

#story-2-header {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
}

#pizza-story-text-2 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#pizza-story-2-image {
  border: 4px solid rgb(199, 181, 181);
}

#users-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#contact-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#pizza-contact-image-1 {
  border: 7px solid rgb(199, 181, 181);
}

#contact-div-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#contact-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#users-footer {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#homemade-list-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#newsletter-form-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#homemade-div-2 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#shops-form-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#art-form-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#stories-form-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#users-form-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#contact-form-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#about-image-1 {
  border: 9px solid rgb(199, 181, 181);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pizza-image-1 {
  border: 9px solid rgb(199, 181, 181);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#team-links-div {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: large;
}

#team-div-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
  font-size: x-large;
}

#team-header-2 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
}

#team-member-header-1 {
  color: rgb(199, 181, 181);
  font-family: sans-serif;
}

#team-image-1 {
  border: 9px solid rgb(199, 181, 181);
}

body {
  background: rgb(136, 38, 38);
}

#msg-1-shops {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

#msg-1-homemade {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

#msg-1-art {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

#msg-1-story {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

.shop-name-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homemade-name-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homemade-details-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.shop-address-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pizza-art-header {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.class-user-name {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.story-title {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.story-text {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#story-submit-btn {
  margin-bottom: 25px;
}

.pizza-art-description {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.class-user-location {
  color: rgb(199, 181, 181);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.shop-image {
  border: 9px solid rgb(199, 181, 181);
}

.homemade-image {
  border: 9px solid rgb(199, 181, 181);
}

.class-user-image {
  border: 9px solid rgb(199, 181, 181);
}

.delete-shop-button {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
}

.story-delete-button {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
}

.homemade-delete-button {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
}

#homemade-button {
  margin-bottom: 25px;
}

#art-submit-btn {
  margin-bottom: 25px;
}

.art-delete-btn {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.class-user-delete-btn {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
}

.art-edit-btn {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
}

.art-update-btn {
  background-color: rgb(39, 39, 41);
  border-radius: 8px;
  color: azure;
  padding: 14px 40px;
  margin-bottom: 25px;
}

.pizza-art-gallery {
  border: 9px solid rgb(199, 181, 181);
  margin-bottom: 20px;
}
